AIRBREAK_PROJECT_ID=298568
AIRBREAK_PROJECT_KEY=1e5fbe98ce590f4620fd24e5dcfeb8ba
BACKEND_HOST_NAME=https://pi3-backend.stagingsimpl.com/
COD_SHOPIFY_API_KEY=4121165208498d8fa703ee8a15f79d18
FRONTEND_HOST_NAME=https://pi3-payments.stagingsimpl.com/
PORT=80
PREPAID_PAYMENT_SHOPIFY_API_KEY=1e706fdd2d8116eedffad2f2c647fc2b
SIMPL_CHECKOUT_SHOPIFY_API_KEY=5ae90bfe7d2ed3b52fa1f8c6a917ef87
